<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" href="images/phone.jpg">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <main>
        <h1>Thank you for your submission</h1>
        <form action="/" method="get">
            <button id="submit-button" type="submit">Return to form</button>
        </form>
    </main>
    <p id="link"><a href="https://github.com/Kravcant/guestbook-form">https://github.com/Kravcant/guestbook-form</a></p>
</body>
</html>