<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" href="images/phone.jpg">
</head>
<body>
    <main>
        <h1>Contact Form</h1>
        <form>
            <fieldset id="topField">
                <!-- First Name -->
                <div>
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="fname">
                </div>
                <!-- Last Name -->
                <div>
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lname">
                </div>
                <!-- Job Title -->
                <div>
                    <label for="job">Job Title</label>
                    <input type="text" id="job" name="job">
                </div>
                <!-- Company -->
                <div>
                    <label for="company">Company</label>
                    <input type="text" id="company" name="company">
                </div>
                <!-- LinkedIn URL -->
                <div>
                    <label for="linkedin">LinkedIn URL</label>
                    <input type="text" id="linkedin" name="linkedin">
                </div>
                <!-- Email Address -->
                <div>
                    <label for="email">Email Address</label>
                    <input type="text" id="email" name="email">
                </div>
            </fieldset>
            <fieldset id="bottomField">
                <!-- How did we meet? -->
                <div>
                    <label for="meet">How did we meet?</label>
                    <select id="meet" name="meet">
                        <option value="default">Please select...</option>
                    </select>
                </div>
                <!-- Other -->
                <div>
                    <label for="other">Other (Please specify)</label>
                    <input type="text" id="other" name="other">
                </div>

                <!-- Message -->
                <div class="message">
                    <label for="message">Message</label>
                    <textarea rows="5" id="message" name="message"></textarea>
                </div>
                </fieldset>
                <fieldset>
                <!-- Add to mailing list -->
                <label for="mailing">
                    <input type="checkbox" id="mailing" name="method[]" value="mailing">
                    Please add me to your mailing list
                </label>
                <section>
                    <p class="format">Choose an email format:</p>
                    <label for="html">
                        <input type="radio" id="html" name="method" value="html">
                        HTML
                    </label>
                    <label for="text">
                        <input type="radio" id="text" name="method" value="text">
                        Text
                    </label>
                </section>
            </fieldset>
            <button type="submit">Submit</button>
        </form>
    </main>
    <p id="link"><a href="https://github.com/Kravcant/guestbook-form">https://github.com/Kravcant/guestbook-form</a></p>
</body>
</html>