#nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgray;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 0 40px;
}

#nav p {
    text-align: center;
}

#nav a:link {
    text-decoration: none;
    color: black;
}

#nav a:visited {
    text-decoration: none;
    color: black;
}

#nav a:hover {
    text-decoration: underline;
    color: green;
}