body {
    background-color: rgb(230, 230, 230);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

main {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 0.25rem grey;
    padding: 1px 10px 10px 10px;
    margin: 20px 40px;
}

h1 {
    text-align: center;
}

fieldset {
    border: none;
}

#topField {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

input[type="text"], textarea, select {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 0.25rem;
    padding: 10px;
}

#bottomField {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.message {
    grid-column-start: 1;
    grid-column-end: 3;
}

textarea {
    height: 100px;
}

section {
    display: flex;
}

section label {
    align-content: center;
}

button {
    background-color: forestgreen;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 10px 20px;
    margin-left: 12px;
}