body {
    background-color: rgb(230, 230, 230);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

main {
    background-color: white;
    padding: 1px 10px;
    margin: 20px 40px;
}

h1 {
    text-align: center;
}

fieldset {
    border: none;
}

#textboxDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

input[type="text"], textarea, select{
    border: 1px solid rgb(230, 230, 230);
    border-radius: 0.25rem;
    padding: 10px;
}